/* importa fontes primeiro */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap');


/* diretivas do Tailwind depois */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply text-base;
}


/* Tipografia e cor de texto global confortável */
:root {
  color: #333846; /* slate-ink */
  background: #fff;
  --fs-sm: theme(fontSize.sm[0]);     /* ~16px */
  --fs-base: theme(fontSize.base[0]); /* ~20px */
}

h1, h2, h3 {
  color: #1c2846; /* brand-navy */
}

/* Em seções escuras, os títulos já herdarão text-white pela classe do wrapper */
